@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
.main {
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    margin-top: var( --space-layout-padding-t);
}
.main__section {
    width: 100%;
    /* background: green; */
}
.article__product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.product__image {
    /* background: blue; */
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: var(--layout-imagen-width-detail);
    height: var(--layout-imagen-height-detail);
    border-radius: 20px;
}
.product__image__item{
    flex: 1;
    min-width: 98%;
    margin: 0 10px;
    /* background-color: purple; */
    height: var(--layout-imagen-height-detail);
}
.product__image__item img{
    width: var(--layout-imagen-width-detail);
    height: var(--layout-imagen-height-detail);
    object-fit: contain;
}
.product__menu {
    /* background: violet; */
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
}
.article__detail {
    /* background: red; */
}
.detail__head {
    margin-top: 20px;
    /* background: green; */
    display: flex;  
    justify-content: space-between;
    align-items: center;
}
.detail__head h1{
    font-family: "EncodeSans-SemiBold";
    color: var(--color-2);
}
.product__select {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.product__select span{
    font-family: "EncodeSans-Bold";
    color: var(--color-2);
}
.detail__score {
    display: flex;
    gap: 5px;
    align-items: center;
}
.detail__score span{
    color: var(--color-3);
}
.detail__score a{
    text-decoration: none;
}
.product__information{
    /* background: red; */
    width: 75%;
    margin-top: 15px;
    color: var(--color-3);
}
.product__information strong{
    color: var(--color-2);
}
.product__information + hr{
    margin-top: 10px;
    box-shadow: 0px 1px 2px var(--color-3);
    height: 1px;
    border-style: none;
}
.product__custom{
    margin-top: 15px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
}
.product__size,
.product__color{
    margin-top: 5px;
    font-family: "EncodeSans-Bold";
}
.product__size h5,
.product__color h5{
    padding-bottom: 10px;
    color: var(--color-2);
}

.footer{
    /* background: red; */
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: var(--space-layout-padding-lr);
}
.footer__ul{
    background: var(--color-4);
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
}
.footer__ul li{
    list-style: none;
    display: flex;
}
.footer__ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background: red; */
    text-decoration: none;
    gap: 5px;
    color: var(--color-5);
}
.footer__ul li a img{
    width: 25px;
}
.footer__ul li a span{
    font-family:"EncodeSans-Medium";
}
.footer__ul li a del{
    color:var(--color-3);
    font-family:"EncodeSans-Regular";
}
