:root{
    /* --color-1: red;
    --color-2: blue;
    --color-4: green; */
    --color-1: #292526;
    --color-2: #1B2028;
    --color-3: #A4AAAD;
    --color-4: #111111;
    --color-5: #FFFFFF;
    --space-layout-padding-lr: 0px 15px;
    --space-layout-padding-t: 5px; 
    --layout-imagen-width:100%;
    --layout-imagen-height:350px;

    --layout-imagen-width-detail:100%;
    --layout-imagen-height-detail:385px;

    --layout-imagen-width-checkout:70px;
    --layout-imagen-height-checkout:70px;

}
@font-face {
    font-family: "EncodeSans-Regular";
    src: url("../storage/font/encode-sans/EncodeSans-Regular.ttf");
}
@font-face {
    font-family: "EncodeSans-Medium";
    src: url("../storage/font/encode-sans/EncodeSans-Medium.ttf");
}
@font-face {
    font-family: "EncodeSans-SemiBold";
    src: url("../storage/font/encode-sans/EncodeSans-SemiBold.ttf");
}
@font-face {
    font-family: "EncodeSans-Bold";
    src: url("../storage/font/encode-sans/EncodeSans-Bold.ttf");
}