<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div>
                <a href="detail.html">
                    <img src="../storage/img/back.svg">
                </a>
            </div>
            <div>Checkout</div>
            <div>
                <img src="../storage/img/sidebar.svg" alt="" srcset="">
            </div>
        </nav>
    </header>
    <main class="main">
        <section class="checkout__details">
            <article class="details__product">
                <div class="product__imagen">
                    <img src="../storage/img/img3.png" >
                </div>
                <div class="product__description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
                <div class="product__custom">
                    <img src="../storage/img/option.svg">
                    <div class="product__select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>4</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article>
            <article class="details__product">
                <div class="product__imagen">
                    <img src="../storage/img/img1.png" >
                </div>
                <div class="product__description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
                <div class="product__custom">
                    <img src="../storage/img/option.svg">
                    <div class="product__select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>1</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article>
            <article class="details__product">
                <div class="product__imagen">
                    <img src="../storage/img/img2.png" >
                </div>
                <div class="product__description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
                <div class="product__custom">
                    <img src="../storage/img/option.svg">
                    <div class="product__select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>4</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article>
            <article class="details__product">
                <div class="product__imagen">
                    <img src="../storage/img/img3.png" >
                </div>
                <div class="product__description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
                <div class="product__custom">
                    <img src="../storage/img/option.svg">
                    <div class="product__select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>4</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article>
            <article class="details__product">
                <div class="product__imagen">
                    <img src="../storage/img/img1.png" >
                </div>
                <div class="product__description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
                <div class="product__custom">
                    <img src="../storage/img/option.svg">
                    <div class="product__select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>1</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article>
            <article class="details__product">
                <div class="product__imagen">
                    <img src="../storage/img/img2.png" >
                </div>
                <div class="product__description">
                    <h3>Modern light clothes</h3>
                    <small>Dress modern</small>
                    <span>$212.99</span>
                </div>
                <div class="product__custom">
                    <img src="../storage/img/option.svg">
                    <div class="product__select">
                        <img src="../storage/img/minusCheckout.svg">
                        <span>4</span>
                        <img src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article>
        </section>
        <section class="section__Shopping">
            <article class="Shopping__title">
                <h3>Shopping Information</h3>
            </article>
            <article class="section__card">
                <div class="dropdown">
                    <div class="dropdown__button">
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div>
                        <div class="shopping__option">
                            <img src="../storage/img/arrow-down.svg">
                        </div>
                    </div>
                    <div class="dropdown__content">
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div>
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div>
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div>
                    </div>
                  </div>
            </article>
            <article class="section__bill">
                <div class="bill__total">
                    <label>Total (9 items)</label>
                    <span>$131.97</span>
                </div>
                <div class="bill__fee">
                    <label>Shipping Fee</label>
                    <span>$.0.00</span>
                </div>
                <div class="bill__subtotal">
                    <label>Sub Total</label>
                    <span>$131.97</span>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="checkout.html">
                    <span>Pay</span>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>