<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
    <script type="module" src="../js/detail.js" defer></script>
</head>
<body> 
    <main class="main">
        <section id="main__section__gallery" class="main__section">
            <!-- <article class="article__product">
                <div class="product__image">
                    <img src="../storage/img/img1.jpg">
                </div>
                <div class="product__menu">
                    <a href="../">
                        <img src="../storage/img/back.svg">
                    </a>
                    <img src="../storage/img/heartBlack.svg">
                </div>
            </article> -->
        </section>
        <section id="main__section__title" class="main__section">
            <!-- <article class="article__detail">
                <div class="detail__head">
                    <h1>Modern light clothes</h1>
                    <div class="product__select">
                        <img src="../storage/img/minus.svg">
                        <span>1</span>
                        <img src="../storage/img/plus.svg" alt="">
                    </div>
                </div>
                <div class="detail__score">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <span>5.0</span>
                    <a href="#">(7.932 reviews)</a>
                </div>
            </article> -->
        </section>
        <section class="main__section">
            <article class="product__information">
                <p>Its simple and elegant shape makes it perfect for
                    those of you who like you who want minimalist
                    clothes <strong> Read More ...</strong></p>
            </article>
            <hr>
        </section>
        <section class="main__section">
            <article class="product__custom">
                <div class="product__size">
                    <h5>Choose Size</h5>
                    <div>
                        <img src="../storage/img/sizeS.svg">
                        <img src="../storage/img/sizeM.svg">
                        <img src="../storage/img/sizeL.svg">
                        <img src="../storage/img/sizeXL.svg">
                    </div>
                </div>
                <div class="product__color">
                    <h5>Color</h5>
                    <div>
                        <img src="../storage/img/color1.svg">
                        <img src="../storage/img/color2.svg">
                        <img src="../storage/img/color3.svg">
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="checkout.html">
                    <img src="../storage/img/shopping-cart.svg">
                    <span>Add to Cart | $100.99 <del><sub>$190.99</sub></del> </span>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>